*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.overlay{
    opacity:1;
    background-color:rgb(0, 0, 0);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    pointer-events:none;
    z-index:1000;
}

.overlay.ended{
    animation: fadeOut 2s;
}

.loading-bar
{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transform: scaleX(0.01);
    transform-origin: top left;
    transition: transform 0.5s;
    z-index:1001;
    

}

.loading-bar.ended
{
    transform: scaleX(0);
    transform-origin: 100% 0;
    transition: transform 1.5s ease-in-out;
    z-index:1002;
}

@keyframes fadeOut {
    from {
        opacity:1;
    }

    to {
        opacity:0;
    }
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    z-index: 1003;
}
.btn-1 {
    width: 300px;
    height: 100px;
    border: none;
    color: #ffffff;
    background-color: rgb(186,85,211);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #FF00FF;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
    z-index: inherit;
}

.btn-1:hover {
    box-shadow: inset 300px 0 0 0 #FF00FF;
}
